<%- include('partials/header.ejs') %> <%- include('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <header>
      <h1>About Me</h1>
    </header>

    <div class="about-me">
      <div class="about-content">
        <h2><%= yourLegalName %></h2>
        <p><%= aboutParagraph %></p>
        <a href="content/mypdf.pdf">Download Resume (PDF)</a>
        <div>
          <img
            class="my-face"
            src="img/Myself.jpg"
            alt="My Photo"
            style="filter: none; max-width: 30%; height: auto"
          />
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/bottom_nav.ejs') %> <%- include('partials/footer.ejs') %>
