<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
  <div class="jumbotron">
    <h1>My <%= title %></h1>
    <img src="img/graph.jpg" alt="graph" class="color-photo" />
    <p>a graph shows the prizing of house</p>
    <img src="img/linxx.jpg" alt="linxx" class="color-photo" />
    <p>Linux assignment</p>
    <img src="img/output.jpg" alt="output" class="color-photo" />
    <p>c# assginment</p>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
